main{
    display: flex;
    justify-content: space-between;
}
#imgContainer{
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}

h1{
    text-align: center;
}
.col-4{
    margin-left: 1rem;
    margin-right: 3rem;
    width: 33%;
}
.col-8{
    margin-top: 50px;
    margin-right: 1rem;
}
img{
    width: 400px;
    height: 300px;
}
small{
    text-align: center;
}
footer{
    text-align: center;
    margin: 20px;
}